.infoBar {
  font-variant: italics;
}

.time {
  margin: 0 30px;
}

.footer {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}

.footer h5 {
  color: #555;
  font-weight: bold;
}

.footer h4 {
  color: #5CB8DB;
  font-weight: bold;
}

.footer h4, h5:hover {
  color: #888;
}

.footerstyles {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}

.footerlinks {
  background-color: black;
}

@media (min-width: 480px) {
  height: auto !important;
}

.copyright {
  background-color: black;
  color: white;
  height: 30px;
  padding-top: 5px;
}

.centerWidth {
  width: 95%;
  margin: auto;
}

.footerTitles {
  color: #515C95;
  font-family: monospace !important;
}

.blackBackgroundColor {
  background-color: black;
}

.blackColor {
  color: black;
}
.aboutUs
{
  color: darkblue;
    font-family: inherit;
    font-size: larger;
}

.cursiveLabel
{
  font-family: cursive;
    color: mediumvioletred;
}
.bigBanner
{
  
    font-size: x-large;
    color: royalblue;
    background-color: #E7F3F7;

}
.inputEmail
{
      border-radius: 0px;
    height: 40px;
}