.title
{
	height:50px;
	 background: #e1e3e4;
    color: white;
}
.container
{
	border:1px solid #e1e3e4;
}

.contentHolder
{
	padding:10px;
}

.subhead
{
	color:black;
	padding:5px;
	font-size:26px;
}

.scriptStyles
{
	padding:10px;
	border: 1px solid #36b8e9;
	background: #cfeaf4;
}