.center {
  padding: 70px 0;
  text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    left: 0px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.btnBook button
{
    background-color:seagreen !important;
}
.categoryItemContainer
{
    border:1px solid darkgrey;
        padding: 10px;
}