.app {

  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    // background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}


.insightsBar {
 // border-top: 5px solid #457DBB;
 // background-color: #5CB8DB;
  // background-color:#36b8e9;
  border-color:rgba(92, 184, 219, 0.3);
  background: rgba(92, 184, 219, 0.3);
  color: white !important;
 // height: 60px;
 // border-bottom: 2px solid #457DBB;
}
#fxd >.container
{
  width:100% !important;
}

.navbar-fixed-top > .container {
    width: 100% !important;
}

.insightsBar___xoTIV > .container {
  background-color: #5CB8DB;
  width:100% !important;
}

.insightsBar___xoTIV > .navbar-default
{
  border-color:red;
}

.appContent {
  top: 100px;
  margin: 50px 0; // for fixed navbar

  align: center;

}

.pageContainer {
  margin: auto;
  width: 90%;
}

.gradient {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}

.ltBadge {
  background-color: cornflowerblue;
  font-size: larger;
}

.pink {
  background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f78297', EndColorStr='#f46677');

  border: 1px solid #ce4f5e;

  position: absolute;
  top: -2em;
  right: 0.5em;

  width: 1.5em;
  height: 1.5em;

  line-height: 1.5em;
  text-align: center;

  ont-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .15);

  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 35),
  0px 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .35),
  0px 1px 1px rgba(0, 0, 0, .2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .35),
  0px 1px 1px rgba(0, 0, 0, .2);

  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;

  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: .3s top ease-in, .3s opacity ease-in;
  -moz-transition: .3s top ease-in, .3s opacity ease-in;
  -o-transition: .3s top ease-in, .3s opacity ease-in;
  -ms-transition: .3s top ease-in, .3s opacity ease-in;
  transition: .3s top ease-in, .3s opacity ease-in;
}

@media (max-width: 480px) {
  .pageContainer {
    width: 100%;
  }
  .insightsBar {
    position: relative !important;
  }
}

.searchContainer
{
  padding-top:10px;
  padding-bottom:10px;
}

.fullWidth
{
  width:100%;
}

.noPadding
{
 padding:0;
}

.height54
{
  height:54px;
  width:100%;
}
.fullOverlay
{
  opacity: 1;
    background: #E7F3F7;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
}


